/**
 * GView plugin CSS
 */

div.tpl_gview{
	margin:0;
	color: grey;
	background-color: transparent;
	font-size: 70%;
}
div.tpl_gview iframe{
	border-top: none;
	border-right: none;
	border-bottom: 1px solid #eee;
	border-left: 1px solid #eee;
}